.noteWidget {
  $width: 250px;
  $height: 50px;

  color: #ffffff;
  padding: 5px;
  font-size: .8rem;
  word-wrap: normal;
  z-index: 1;
  width: $width;
  height: $height;
  border: solid 1px green;
  box-shadow: 5px 5px 30px gray;
  position: fixed;
  bottom: 10%;
  right: 1%;
  cursor: pointer;
  text-align: center;
  transition: all .3s;

  &:hover {
    width: calc(#{$width} + 1%);
    height: calc(#{$height} + 1%);
    transition: all .3s;
  }
}